apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- grafana-admin-credentials-external.yaml
- grafana-ldap-credentials-external.yaml
# - device-metrics-exporter.yaml disable untill 1.4.1
- loki-release.yaml
- promtail-release.yaml
- kubernetes-event-exporter.yaml
- flux-monitor.yaml
